extends layout

block content
  #wrapper
      #rowOne.container
          #power.verticleProgress
              div.outerProgress
                  div.innerProgress
                      div
          #airSpeed.svgQuad
          #altimeter.svgQuad
          #attitudeIndicator.svgQuad
      #rowTwo.container
          #headingIndicator.svgQuad
          #turnCoordinator.svgQuad
          #verticalSpeedIndicator.svgQuad
