extends layout

block content
    //#notify
    //#overlay
    //#titlePage
    //#dialog
    #world
    #cockpit
        #instruments
            #rowOne.container
                #airSpeed.svgQuad
                #attitudeIndicator.svgQuad
                #altimeter.svgQuad
            #rowTwo.container
                #headingIndicator.svgQuad
                #turnCoordinator.svgQuad
                #verticalSpeedIndicator.svgQuad
