doctype html
html
  head
    title "FlightSim 2"
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.1.11.1.js')
    script(type='text/javascript', src='/javascripts/mscorlib.js')
    script(type='text/javascript', src='/javascripts/PerfectWidget.js')
    script(type='text/javascript', src='/javascripts/cockpit.js')
    script(type='text/javascript', src='/javascripts/navigation.js')
    script(type='text/javascript', src='/javascripts/airplane.js')
    script(type='text/javascript', src='/javascripts/weather.js')
    script(type='text/javascript', src='/javascripts/flightsim2.js')
  body
    block content