doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/javascripts/jquery.min.1.11.1.js')
    script(type='text/javascript', src='/javascripts/mscorlib.js')
    script(type='text/javascript', src='/javascripts/PerfectWidget.js')
    script(type='text/javascript', src='/javascripts/FourJGames.js')
    script(type='text/javascript', src='/javascripts/Cockpit.js')
  body
    block content