
html {
    margin: 0;
}

body {
    margin: 0;
    overflow: hidden;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.titlePage {
    background: url('../images/cover-image.jpg') no-repeat center center fixed;
    background-color: #000000;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index:1000;
}

.overlay{
    opacity:0.8;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}

.container {
    margin: 0 auto 1%;
    overflow: hidden;

    position:fixed;
    top:50%;
    left:50%;
    margin:-3.5% 0 0 -20%;
    width: 40%;
}

#rowOne {
    float: left;
    height: 235px;
    margin-top: 0%

}
#rowTwo {
    float: left;
    height: 225px;
    margin-top: 250px;
}
.svgQuad {
    height:0;
    padding-bottom: 33.33%;
    width:33%;
    float:left
}

html {
    background: url('../images/cockpit.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    min-width: 100%;
}

.outerProgress {
    width: 30px;
    height: 140px;
    border: 2px solid #ccc;
    overflow: hidden;

    position: relative;

    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.innerProgress, .innerProgress div {
    width: 100%;
    overflow: hidden;
    left: -2px;
    position: absolute;
}

.innerProgress {
    border: 2px solid #999;
    border-top-width: 0;
    background-color: #999;

    bottom: 0;
    height: 0%;
}

.innerProgress div {
    border: 2px solid orange;
    border-bottom-width: 0;
    background-color: orange;

    top: 0;
    width: 100%;
    height: 5px;
}
